div#graph-container {
  text-align: center;
}
svg#graph {
  rect.background {
    fill: lighten(#d3d3d3, 10%);
  }
  rect.bar {
    fill: $graphBarColor;
  }
  rect.foreground {
    fill-opacity: 0;
    
    &:hover {
      fill: black;
      fill-opacity: 0.1;
    }
  }

  text.label {
    cursor: default;
  }
}
