div#tooltip {
  position: absolute;
  z-index: 10;

  visibility: hidden;

  padding: 0.4em;
  width: 100px;

  background-color: $darkMainColor;
  border: 1px solid $lightMainColor;
  border-radius: 0.3em;

  color: $lightMainColor;

  pointer-events: none;

  .arrow {
    border-style: solid;
    border-width: 7px 12px 7px 0;
    border-color: transparent $darkMainColor transparent transparent;
    position: absolute;
    left: -12px;
    top: 35%;
  }

  .money {
    font-weight: bold;
  }
  .date {
    font-size: 0.8em;
    font-style: italic;
  }
}
