div#tooltip {
  position: absolute;
  z-index: 10;

  visibility: hidden;

  padding: 0.7em;

  background-color: $lightMainColor;
  border: 1px solid $darkMainColor;
  border-radius: 0.5em;

  pointer-events: none;

  .arrow {
    border-style: solid;
    border-width: 7px 12px 7px 0;
    border-color: transparent $darkMainColor transparent transparent;
    position: absolute;
    left: -12px;
    top: 12px;

  .money {
    font-weight: bold;
  }
  .date {
    font-size: 0.8em;
  }
}
